
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/

:host,
:root,
.sl-theme-dark {
  /* --Windows-Glass: rgba(128, 128, 128, 0.30);
  --windows-stroke-glass-specular: rgba(255, 255, 255, 0.40);
  --Recessed: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.90) 100%);
  --Views-Recessed-Material-View: linear-gradient(0deg, rgba(208, 208, 208, 0.50) 0%, rgba(208, 208, 208, 0.50) 100%), rgba(0, 0, 0, 0.10); */
  --Windows-Glass: rgba(98, 98, 98, 0.3);
  --windows-stroke-glass-specular: rgba(255, 255, 255, 0.4);
  --Recessed: linear-gradient(0deg, rgba(52, 52, 52, 0.8) 100%, rgba(52, 52, 52, 0.9) 100%);
  --Views-Recessed-Material-View: linear-gradient(0deg, rgba(43, 43, 43, 0.5) 0%, rgba(57, 57, 57, 0.5) 100%), rgba(255, 255, 255, 0.1);
  --sl-panel-background-color: rgb(39, 39, 39) !important;
  --sl-input-background-color: var(--Recessed) !important;
  --sl-input-background-color-hover: var(--Recessed) !important;
  --sl-input-background-color-focus: var(--Recessed) !important;

  /* Form Inputs */
  --sl-input-background-color: transparent;
  --sl-input-background-color-hover: var(--Recessed);
  --sl-input-background-color-focus: var(--Recessed);
  --sl-input-background-color-disabled: var(--Recessed);
  --sl-input-border-color: rgba(216, 216, 216, 0.702);
  --sl-input-border-color-hover: rgba(0, 156, 229, 0.859);
  --sl-input-border-color-focus: rgba(0, 156, 229, 0.859);
  --sl-input-border-color-disabled: yellow;
  --sl-input-color: #fff;
  --sl-input-color-hover: rgba(255, 255, 255, 0.8);
  --sl-input-color-focus: rgba(255, 255, 255, 0.8);
  --sl-input-color-disabled: yellow;
  --sl-input-icon-color: #fff;
  --sl-input-icon-color-hover: rgba(255, 255, 255, 0.8);
  --sl-input-icon-color-focus: rgba(255, 255, 255, 0.8);
  --sl-input-icon-color-disabled: yellow;
  --sl-input-focus-ring-color: rgba(0, 156, 229, 0.859) inset;
  /* Filled Form Inputs */
  --sl-input-filled-background-color: var(--Recessed) !important;
  --sl-input-filled-background-color-hover: var(--Recessed) !important;
  --sl-input-filled-background-color-focus: var(--Recessed) !important;
  --sl-input-filled-background-color-disabled: var(--Recessed) !important;
  --sl-input-filled-color: transparent !important;
  --sl-input-filled-color-hover: transparent !important;
  --sl-input-filled-color-focus: transparent !important;
  --sl-input-filled-color-disabled: transparent !important;
  --sl-input-placeholder-color: var(--sl-color-neutral-500);
  --sl-input-placeholder-color-disabled: var(--sl-color-neutral-300);
  --sl-input-help-text-color: var(--sl-color-neutral-300);
  --sl-focus-ring: var(--sl-color-primary-600);

  .oswald-regular {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .oswald-medium {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .oswald-bold {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .grenze-gotisch {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  --font-family: "Oswald", sans-serif;
  --sl-font-sans: "Oswald", sans-serif;
  --sl-font-mono: "Oswald", sans-serif;
  --sl-font-serif: "Oswald", sans-serif;
  --special-color-white: #fff;
  --special-color-black: #000;
  --sl-font-weight-light: 400;
  --sl-font-weight-normal: 400;
  --sl-font-weight-semibold: 700;
  --sl-font-weight-bold: 900;
  --sl-font-size-2x-small: 0.625rem;
  --sl-font-size-x-small: 0.75rem;
  --sl-font-size-small: 0.875rem;
  --sl-font-size-medium: 18px;
  --sl-font-size-large: 1.25rem;
  --sl-font-size-x-large: 1.5rem;
  --sl-font-size-2x-large: 2.25rem;
  --sl-font-size-3x-large: 3rem;
  --sl-font-size-4x-large: 4.5rem;
  /* --ms-mana-b: #a7999e; */
  /* --ms-mana-b-bg: #383431; */
  --ms-mana-b-bg: #D7D0CD;
  /* --ms-mana-c: #d0c6bb; */
  /* --ms-mana-c-bg: #beb9b2; */
  --ms-mana-c-bg: #D7D0CD;
  /* --ms-mana-g: #9fcba6; */
  /* --ms-mana-g-bg: #3d684b; */
  --ms-mana-g-bg: #ABDDBD;
  /* --ms-mana-r: #f19b79; */
  /* --ms-mana-r-bg: #c6553e; */
  --ms-mana-r-bg: #FABA9F;
  /* --ms-mana-u: #bcdaf7; */
  /* --ms-mana-u-bg: #3b6ba0; */
  --ms-mana-u-bg: #BAE7FB;
  /* --ms-mana-w: #fdfbce; */
  /* --ms-mana-w-bg: #fff; */
  --ms-mana-w-bg: #FEFDDF;
  --ms-mana-p-bg: #8F8A87;
  /* @media (prefers-color-scheme: dark) {
    --ms-mana-b: #574f52;
    --ms-mana-b-bg: #5a5450;
    --ms-mana-c: #7c756e;
    --ms-mana-c-bg: #63605c;
    --ms-mana-g: #59755e;
    --ms-mana-g-bg: #4e6044;
    --ms-mana-r: #9f644d;
    --ms-mana-r-bg: #86513c;
    --ms-mana-u: #7a8fa2;
    --ms-mana-u-bg: #6e7e8d;
    --ms-mana-w: #b0ae8d;
    --ms-mana-w-bg: #a3a380;
    --sl-input-color: var(--sl-color-neutral-100);
  } */

}

html, body {
  font-family: var(--font-family);
  font-weight: var(--sl-font-weight-normal);
  font-size: 18px;
  padding: 0;
  margin: 0;
  height: 100vh;
  color: var(--special-color-white) !important;
}
@media (max-width: 800px) {
  html, body, .main {
    padding: 0 !important;
  }
}
.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(1, 1, 1, 0.9)), url("./assets/background-1440x1024.png");
  background-repeat: no-repeat;
  background-position: top;
  background-clip: border-box;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-index {
  padding-bottom: 1rem;
}
@media (min-width: 1200px) {
  app-index {
    display: flex;
    justify-content: center;
    padding: .25rem;
  }
}
html,
body {
  color: var(--sl-color-neutral-50);
}

